.button__container {
    font: 700 1rem/40px var(--white);
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 16px;
    box-shadow: 4px 4px var(--dark);
    padding: 8px 0;
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.button__container:hover {
    background-color: var(--hover-color);
}

/* simulates button being pressed down */
.button__container:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}

@media screen and (min-width: 768px) {
    .button__container {
        width: auto;
        padding: 8px 16px;
    };
}