.container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.header {
    font: 700 1.6rem/38px var(--font-text);
    margin-bottom: 32px;
}

.message {
    margin-top: 24px;
}

.error {
    font-size: 1.6rem;
    padding: 40px 0;
}

.error a {
    text-decoration: underline;
    color: var(--font-text);
}

@media screen and (min-width: 1024px) {
    .ticket {
        width: 60vw;
        margin: 0 auto;
    }
    
    .message>p {
        display: inline;
        margin-left: 8px;
    }
}