.form__info {
    text-align: left;
    font-style: italic;
    font-size: .9rem;
    margin-bottom: 12px;
}

.form__field {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
}

.form__label {
    font: 700 1.6rem/38px var(--font-text);
    text-align: left;
}

.form__input {
    color: var(--dark);
    font: 500 1rem/40px var(--font-text);
    width: 100%;
    height: 48px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.form__input:valid {
    border: 2px solid var(--green);
}

.form__fieldset {
    border: 1px solid var(--text-color);
    width: 100%;
    padding: 0 20px 12px;
    box-sizing: border-box;
}

.form__days {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.form__days *, 
.form__consentment * {
    cursor: pointer;
}

.form__days input,
.form__consentment input {
    width: 16px;
    height: 16px;
}

.form__consentment input {
    margin-right: 5px;
}

.form__consentment, 
.form__forbidden {
    text-align: left;
    margin-bottom: 32px;
}

.form__forbidden {
    color: var(--red);
}

.form__button button {
    width: fit-content;
    padding: 8px 16px;
    margin: 0 auto;
}

.form__button button:disabled {
    background-color: var(--light-dark);
    box-shadow: none;
    cursor: not-allowed;
}

@media screen and (min-width: 1024px) {
    .form__container {
        width: 65vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
    }

    div.form__field:nth-of-type(-n+3),
    .form__button,
    .form__consentment,
    .form__container>p {
        /* start-column-line / end-column-line */
        grid-column: 1 / 3;
    }

}