.info__container {
    padding: 48px 24px;
}

.info__title {
    font: 400 1.6rem/42px var(--font-title);
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .info__container {
        padding: 48px 60px;
    }
    
    .info__title {
        font-size: 2.4rem;
        line-height: 62px;
    }
}

@media screen and (min-width: 1024px) {
    .info__faq {
        width: 70vw;
        margin: 0 auto;
    }
}