.article__container {
    display: grid;
    grid-template-areas: 
        'image'
        'title'
        'text';
    row-gap: 1.5em;
    justify-items: center;
    padding: 1.2em 1.5em;
}

.article__image {
    grid-area: image;
    width: 100%;
    max-height: 380px;
}

.article__header {
    grid-area: title;
    /* enable line break when using newline characters */
    white-space: pre-line;
}

.article__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5em;
}

@media screen and (min-width: 680px) {
    .article__container {
        padding: 1.2em 4em;
    }

    .article__image {
        max-width: 610px;
    }
}

@media screen and (min-width: 1024px) {
    .article__container {
        grid-template-areas: 
            'image title'
            'image text';
        grid-template-columns: 1fr 1fr;
        column-gap: 2.4em;
        align-items: center;
        padding: 3.2em 6em;
    }

    .article__image {
        flex-basis: 50%;
    }
}