.article--image .article__image {
    object-fit: contain;
    height: auto;
}

.article--image .article__header {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .article--image .article__header {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1024px) {
    .article--image .article__container {
        padding: 32px 0;
    }

    .article--image .article__content {
        width: fit-content;
    }

    .article--image .article__text {
        display: block;
    }
}