.footer__container {
    position: relative;
    height: 332px;
    background-color: var(--footer-color);
    padding: 24px 30px 45px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.footer__logo {
    color: var(--darg-gray);
}

.footer__socials {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    height: 32px;
}

.footer__copyright > p {
    display: inline;
}

.footer__copyright p:first-child {
    margin-right: 6px;
}

/* Change theme color */
.theme__container {
    font-size: .7rem;
    color: var(--text-color);
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: 15px;
    right: 50%;
    transform: translateX(50%);
}

.theme__container>span {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

.theme__container>span:hover {
    text-decoration: underline;
}

.theme__container>span::before {
    content: '';
    width: 1em;
    height: 1em;
}

.theme__summer::before {
    background: linear-gradient(#C8DEEF, #FBF0DD, #FACF9D);
}

.theme__boreal::before {
    background: linear-gradient(#304968, #36C1A0, #4650BD);
}


@media screen and (min-width: 768px) {
    .footer__container {
        height: 252px;
    }

    .footer__links {
        display: flex;
        column-gap: 8px;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1024px) {
    .footer__container {
        grid-template-areas: 
            "logo . copyright"
            "links . copyright";
        grid-template-columns: 1fr .5fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 8px;
        justify-items: start;
        padding: 0 60px;
    }

    .footer__logo {
        grid-area: logo;
        align-self: end;
    }

    .footer__links {
        grid-area: links;
        align-self: start;
    }

    .footer__copyright {
        grid-area: copyright;
        text-align: left;
    }

    .footer__copyright > p {
        display: block;
    }

    .footer__copyright p:first-child {
        margin: 0 0 8px;
    }
}   