:root {
  /* Color palette - summer theme */
  --summer-gradient: linear-gradient(#C8DEEF, #FBF0DD, #FACF9D);
  --summer-dark-blue: #2E7BA2;
  --summer-light-blue: #C8DEEF;
  --summer-blue-hover: #519EC5;
  --summer-mustard: #DF9010;
  --summer-yellow: #FACF9D;

  /* Color for texts */
  --white: #FFF;
  --dark-gray: #444444;

  /* Texts */
  --font-title: 'Calistoga', cursive;
  --font-text: 'Raleway', sans-serif;
}

html {
  /* font-weight font-size/line-height font-family */
  font: 500 20px/40px var(--font-text);
  text-align: center;
  color: var(--dark-gray);
}

h1 {
  font: 400 1.6rem/42px var(--font-title);
}

h2 {
  font: 700 1.6rem/38px var(--font-text);
  text-align: center;
}

a {
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}

main {
  background: var(--summer-gradient);
  padding: 0 24px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
    line-height: 83px;
  }

  main {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 0 120px;
  }
}