:root {
  /* Colors */
  --white: #FFFFFF;
  --dark: #444444;
  --light-dark: #a1a1a1;
  --light-blue: #C8DEEF;
  --green: #36C1A0;
  --red: #fa4b4b;

  /* Texts */
  --font-title: 'Calistoga', cursive;
  --font-text: 'Raleway', sans-serif;

  /* Global text styles */
  font-family: var(--font-text);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

/* Custom Theme colors: Summer */
.summer {
  --color-gradient: linear-gradient(#C8DEEF, #FBF0DD, #FACF9D);  
  --ticket-gradient: linear-gradient(135deg,#C8DEEF, #FBF0DD, #FACF9D);
  --primary-color: #2E7BA2;
  --secondary-color: #DF9010;
  --hover-color: #519EC5;
  --footer-color: #FACF9D;

  /* Color for texts */
  --text-color: var(--dark);

  /* Default text color */
  color: var(--text-color);
}

/* Custom Theme colors: Boreal */
.boreal {
  --color-gradient: linear-gradient(#304968, #36C1A0, #4650BD);
  --ticket-gradient: linear-gradient(135deg,#304968, #36C1A0, #4650BD);
  --primary-color: #4650BD;
  --secondary-color: #008364;
  --hover-color: #606ADA;
  --footer-color: #4650BD;

  /* Color for texts */
  --text-color: var(--white);

  /* Default text color */
  color: var(--text-color);
}

body {
  line-height: 2;
}

h1 {
  font: 400 1.6rem/42px var(--font-title);
}

h2 {
  font: 700 1.6rem/38px var(--font-text);
  text-align: center;
}

a {
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}

main {
  background: var(--color-gradient);
  padding: 0 24px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
    line-height: 83px;
  }

  main {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 0 120px;
  }
}