.accordion__container {
    margin-bottom: 8px;
    transition: margin-bottom .1s .1s;
}

.accordion__title {
    color: var(--white);
    background-color: var(--primary-color);
    width: 100%;
    font: 700 1.6rem/38px var(--font-text);
    padding: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px
}

.accordion__title:hover {
    background-color: var(--hover-color);
}

.accordion__title::after {
    content: '';
    background: url('./arrow_drop_down.png') no-repeat;
    min-width: 14px;
    height: 7px;
    transform: rotate(180deg);
    transition: transform .3s linear;
    transform-origin: center;
}

.accordion__open::after {
    transform: rotate(0);    
}

.accordion__content {
    color: var(--dark);
    background-color: var(--light-blue);
    overflow: hidden;
    height: 0;
    transition: height .3s linear;
}

.accordion__content a {
    color: var(--dark);
    font-weight: 500;
    text-decoration: underline;
}

.content__container {
    text-align: left;
    padding: 16px;
}